/*.container {*/
/*    max-width: 1680px;*/
/*}*/

.header {
    height: 104px;
    display: flex;
    width: 100%;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    gap: 1309px;
}

.header-right:hover {
    cursor: pointer;
}

.logo {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background: var(--basic-color) cover no-repeat;
}

.header-left {
    width: 296px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid var(--neutral-color);
    color: var(--neutral-color);
}

.login:hover {
    background-color: var(--neutral-color);
    color: var(--basic-color);
    cursor: pointer;
}

.cart {
    display: flex;
    padding: 8px 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    background-color: var(--neutral-color);
    color: var(--basic-color);
}

.cart:active {
    color: var(--basic-color);
    background-color: var(--general-color);
    box-shadow: 0px 2px 4px 0px rgba(72, 72, 72, 0.60) inset;
}

.cart:hover {
    color: var(--basic-color);
    background-color: var(--general-color);
    cursor: pointer;
}

.cart-icon {
    width: 16px;
    height: 20px;
    margin-right: 5px;
}

.cart-text {
    font-size: 18px;
}

/*Header- navbar*/
.navbar-header {
    background-color: var(--general-color);
    width: 100%;
}

.navbar-content {
    margin-left: 120px;
    margin-right: 120px;
    width: 1680px;
    display: flex;
    height: 68px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-text span {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--basic-color);
}

.navbar-text:hover {
    border-bottom: 5px solid var(--basic-color);
    cursor: pointer;
}

/*Body*/
.container {
    max-width: 1680px;
}

.slider {
    height: 784px;
}

.ads-img {
    width: 100%;
}

/*product*/
.product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 0 26px 0;
}
.product-title{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    color: var(--neutral-color);
    border-left: 8px solid var(--neutral-color);
}
.product-title span{
    margin-left: 24px;
}
.btn-product{
    padding: 6px 16px;
    border-radius: 12px;
    border: 1px solid var(--neutral-color);
    background-color: var(--basic-color);
    color: var(--neutral-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.btn-product:hover{
    background-color: var(--neutral-color);
    color: var(--basic-color);
}